<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="true">
  
  <!-- 
    #IMPLEMENTATION-DETAIL
    We are using custom classes in "scss/scaffolding.scss"
  -->
  <ion-content class="landing">
    <!-- <ion-slide-box auto-play="true" does-continue="true">
      <ion-slide> -->
        <div class="box landingBg">
          <!-- <h1 class="text-center white-color home-title">
          Durga Puja Pass
        </h1>
        <h4 class="white-color text-center">Buy passes at attractive prices !!</h4> -->
       </div>
      <!-- </ion-slide> -->
      <!-- <ion-slide>
        <div class="box landingBg2">
             <h1 class="text-center white-color home-title">
          Durga Puja Pass
        </h1>
        <h4 class="white-color text-center">Easily collect your Passes</h4>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box landingBg3">
             <h1 class="text-center white-color home-title">
          Durga Puja Pass
        </h1>
        <h4 class="white-color text-center">Buy VIP passes for comfort</h4>
        </div>
      </ion-slide> -->
    <!-- </ion-slide-box> -->
    <!-- <div class="upperContent">
      <h1 class="text-center white-color home-title">
          Durga Puja Pass
      </h1>
      
      <h3 class="white-color text-center sans-pro-light icon-text">
          <br>
          <i class="ion-card" style="font-size:4em;"></i>
      </h3>

      <h4 class="white-color text-center">Buy passes at attractive prices !!</h4>
    
    </div>-->  
      
    <div class="row" style="background-color:yellow1;vertical-align: middle;padding:0">        
        <div class="col col-50">
            <button class="button button-positive button-medium button-block" style="margin:0" ui-sref="login">Log In</button>        
        </div>
        <div class="col col-50">
          <button class="button button-positive button-medium button-block" style="margin:0" ui-sref="signup">Register</button>        
        </div>
    </div>
  </ion-content>

  <!--
   We put a link to signup screen in footer bar.
  -->
  <!-- <ion-footer-bar ui-sref="app.signup" class="bar bar-positive bar-deepblue-bordertop pointer">
    <h1 class="title sans-pro-light">Signup here</h1>
  </ion-footer-bar> -->

</ion-view>
