<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="true">
  
  <!-- 
    #IMPLEMENTATION-DETAIL
    We are using custom classes in "scss/scaffolding.scss"
  -->
  <ion-content class="landing">
   
      <div class="box landingBg"></div>       
      
      <div class="row" style="background-color:yellow1;vertical-align: middle;padding:0">        
          <div class="col col-50">
              <button class="button button-positive button-medium button-block" style="margin:0" ui-sref="login">Log In</button>        
          </div>
          <div class="col col-50">
            <button class="button button-positive button-medium button-block" style="margin:0" ui-sref="signup">Register</button>        
          </div>
      </div>
  </ion-content>  

</ion-view>
